extends layout

block tab
    .mdl-layout__tab-bar.mdl-js-ripple-effect.mdl-color--blue-grey.mdl-color-text--grey-600
        each val, index in data
            a(class=(index == 0) ? 'mdl-layout__tab is-active' : 'mdl-layout__tab' href='#' + val.name) #{val.name}


block content

    include scripts/update-values
    each val in data
        include scripts/lg-button


    main.mdl-layout__content.mdl-color--grey-100

        if data.length === 0
            h1(align='center') No stations registered yet


        each val, index in data
            section(class=(index==0) ? 'mdl-layout__tab-panel is-active' : 'mdl-layout__tab-panel', id=val.name)
                .page-content

                    if env !== 'production'
                        .mdl-grid.demo-content
                            .mdl-cell.mdl-cell--12-col.mdl-grid
                                .mdl-layout-spacer
                                    if val.city === '' || val.city === undefined
                                        div(align='right')
                                            button(id='lg-btn-'+val.name disabled).mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.mdl-color--blue-grey-200.mdl-color-text--grey Send to Liquid Galaxy
                                    else
                                        div(align='right')
                                            button(id='lg-btn-'+val.name).mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.mdl-color--blue-grey.mdl-color-text--white Send to Liquid Galaxy


                    .mdl-grid.demo-content
                        .demo-charts.mdl-color--blue-50.mdl-shadow--2dp.mdl-cell.mdl-cell--12-col.mdl-grid

                            .mdl-cell.mdl-cell--6-col

                                center
                                    br
                                    p(style='line-height: 1.5;')
                                        font(style='font-size: 3em', color='#7a7a7a', id='city' + val.name) #{val.city}

                                    br

                                    p.nobr
                                        font(style='font-size: 6em', color='#7a7a7a', id='temperature' + val.name) #{val.temperature}
                                        font(style='font-size: 3em; position: absolute; margin-top: -16px', color='#888') ºC

                                    p(style='line-height: 1.5;')
                                        font(style='font-size: 1.5em; margin-right:5px', color='#7a7a7a') Feels like&nbsp;
                                        font(style='font-size: 2.2em; margin-right:5px', color='#7a7a7a', id='feelslike_c'+val.name) #{val.feelslike_c}
                                        font(style='font-size: 1.5em; position: absolute; margin-top: 1.5px', color='#888') ºC




                            .mdl-cell.mdl-cell--6-col
                                center
                                    img(id='icon_img'+val.name src='/img/'+val.icon_img+'.png' height='128' width='128')
                                    p(style='line-height: 2.5;')
                                        font(style='font-size: 1.5em', color='#7a7a7a', id='weather'+val.name) #{val.weather}







                        .demo-updates.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--4-col-desktop
                            .mdl-card__title.mdl-card--expand.mdl-color--blue-grey-50.mdl-color-text--blue-grey-800(style='min-height: 64px;max-height:64px')
                                h2.mdl-card__title-text Humidity
                            .mdl-card__supporting-text.mdl-color-text--grey-600
                                .mdl-cell.mdl-cell--12-col.cell
                                    center
                                        .circles
                                            div(id='humidityCircle' + val.name).circle
                                                strong(id='humidityStrong' + val.name)

                                    include scripts/init-circle


                        .demo-updates.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--4-col-desktop
                            .mdl-card__title.mdl-card--expand.mdl-color--blue-grey-50.mdl-color-text--blue-grey-800(style='min-height: 64px;max-height:64px')
                                h2.mdl-card__title-text Pressure
                            .mdl-card__supporting-text.mdl-color-text--grey-600
                                .mdl-cell.mdl-cell--12-col.cell
                                    center
                                        p.alt.press
                                            font(id='pressure' + val.name) #{val.pressure}
                                            font.wind_vel_span &nbsp;Pa

                                    #myProgress.pressB
                                        .myBar(id='pressBar' + val.name)




                        .demo-updates.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--4-col-desktop
                            .mdl-card__title.mdl-card--expand.mdl-color--blue-grey-50.mdl-color-text--blue-grey-800(style='min-height: 64px;max-height:64px')
                                h2.mdl-card__title-text Sea level pressure
                            .mdl-card__supporting-text.mdl-color-text--grey-600
                                .mdl-cell.mdl-cell--12-col.cell
                                    center
                                        p.alt.press
                                            font(id='sealevel_pressure' + val.name) #{val.sealevel_pressure}
                                            font.wind_vel_span &nbsp;Pa

                                    #myProgress.pressB
                                        .myBar(id='seaPressBar' + val.name)




                        .demo-updates.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--8-col-desktop
                            .mdl-card__title.mdl-card--expand.mdl-color--blue-grey-50.mdl-color-text--blue-grey-800(style='min-height: 64px;max-height:64px')
                                h2.mdl-card__title-text Wind
                            .mdl-cell.mdl-cell--12-col.mdl-grid
                                .mdl-cell.mdl-cell--6-col
                                    center
                                        p.cmpp Direction
                                        .circles.circle.compass

                                            div(id='arrow'+val.name).arrow
                                            img#disc.disc(src='/img/compassdisc.png')

                                        p(id='cmpp'+val.name).cmpp_l #{val.wind_dir}

                                    include scripts/init-compass


                                .mdl-cell.mdl-cell--6-col
                                    center
                                        p.cmpp Velocity

                                        .circles.circle.compass
                                            img.wind_vel_img.disc(id='windvelimg'+val.name src='/img/'+val.wind_kph_icon+'.svg')

                                        p.cmpp_l.num
                                            font(id='windvelp'+val.name) #{val.wind_kph}
                                            font.wind_vel_span &nbsp;kph



                        .demo-updates.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--4-col-desktop
                            .mdl-card__title.mdl-card--expand.mdl-color--blue-grey-50.mdl-color-text--blue-grey-800(style='min-height: 64px;max-height:64px')
                                h2.mdl-card__title-text Altitude
                            .mdl-card__supporting-text.mdl-color-text--grey-600(style='margin-top: 30px')
                                .mdl-cell.mdl-cell--12-col.cell
                                    center
                                        p.alt.press
                                            font(id='altitude' + val.name) #{val.altitude}
                                            font.wind_vel_span &nbsp;m

                                    #myProgress.pressB
                                        .myBar(id='altBar' + val.name)


                        include scripts/init-progressbar


                        .demo-updates.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--12-col-desktop
                            .mdl-card__title.mdl-card--expand.mdl-color--blue-grey-50.mdl-color-text--blue-grey-800(style='min-height: 64px;max-height:64px;')
                                h2.mdl-card__title-text Other details
                            .mdl-cell.mdl-cell--12-col.mdl-grid
                                .mdl-cell.mdl-cell--4-col
                                    p.detailstext Precipitation (dialy)
                                .mdl-cell.mdl-cell--8-col
                                    p.detailstext
                                        font(id='precip_today_metric' + val.name) #{val.precip_today_metric}
                                        font &nbsp;mm

                                .mdl-cell.mdl-cell--4-col
                                    p.detailstext Visibility
                                .mdl-cell.mdl-cell--8-col
                                    p.detailstext
                                        font(id='visibility_km' + val.name) #{val.visibility_km}
                                        font &nbsp;km

                                .mdl-cell.mdl-cell--4-col
                                    p.detailstext Dewpoint
                                .mdl-cell.mdl-cell--8-col
                                    p.detailstext
                                        font(id='dewpoint_c' + val.name) #{val.dewpoint_c}
                                        font &nbsp;ºC

                                .mdl-cell.mdl-cell--4-col
                                    p.detailstext Heat index
                                .mdl-cell.mdl-cell--8-col
                                    p.detailstext
                                        font(id='heat_index_c' + val.name) #{val.heat_index_c}
                                        font &nbsp;ºC
