extends layout

block content

    script(src="/socket.io/socket.io.js")
    script(src="https://code.jquery.com/jquery-1.11.1.js")
    script(src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js")

    include update-values
    each val in data
        include lg-button


    div.jumbotron
        div.container
            div(class='page-header')
                h1=title


    ul(class='nav nav-tabs nav-justified subtab' role='tablist')
        each val, index in data
            li(class=(index==0) ? 'active' : '')
                a(href='#'+val.name data-toggle='tab') #{val.name}

    if data.length === 0
        h1(align='center') No stations registered yet

    div(class='tab-content')
        each val, index in data
            div(class=(index==0) ? 'tab-pane active' : 'tab-pane' id=val.name)
                div.jumbotron
                    div.container

                        div(align='right')
                            if env !== 'production'
                                if data.city === ''
                                    button(type='button', class='btn btn-primary', id='lg-btn-'+val.name disabled) Send to Liquid Galaxy
                                else
                                    button(type='button', class='btn btn-primary', id='lg-btn-'+val.name) Send to Liquid Galaxy

                        p Sensors

                        div(class='container')
                            div(class='row')

                                div(class='col-md-2', align='center')
                                    h4 TEMPERATURE
                                    p(id='temperature'+val.name) #{val.temperature}
                                div(class='col-md-2', align='center')
                                    h4 HUMIDITY
                                    p(id='humidity'+val.name) #{val.humidity}
                                div(class='col-md-2', align='center')
                                    h4 TEMPERATURE2
                                    p(id='temperature2'+val.name) #{val.temperature2}
                                div(class='col-md-2', align='center')
                                    h4 PRESSURE
                                    p(id='pressure'+val.name) #{val.pressure}
                                div(class='col-md-2', align='center')
                                    h4 SEALEVEL PRESSURE
                                    p(id='sealevel_pressure'+val.name) #{val.sealevel_pressure}
                                div(class='col-md-2', align='center')
                                    h4 ALTITUDE
                                    p(id='altitude'+val.name) #{val.altitude}


                div.jumbotron
                    div.container

                        p API

                        div(class='container')
                            div(class='row')

                                div(class='col-md-2', align='center')
                                    h4 City
                                    p(id='city'+val.name) #{val.city}
                                div(class='col-md-2', align='center')
                                    h4 Weather
                                    p(id='weather'+val.name) #{val.weather}
                                div(class='col-md-2', align='center')
                                    h4 Wind direction
                                    p(id='wind_dir'+val.name) #{val.wind_dir}
                                div(class='col-md-2', align='center')
                                    h4 Wind velocity
                                    p(id='wind_kph'+val.name) #{val.wind_kph} kph
                                div(class='col-md-2', align='center')
                                    h4 Dewpoint
                                    p(id='dewpoint_c'+val.name) #{val.dewpoint_c} *C
                                div(class='col-md-2', align='center')
                                    h4 Heat index
                                    p(id='heat_index_c'+val.name) #{val.heat_index_c} *C

                            div(class='row')

                                div(class='col-md-2', align='center')
                                    h4 Windchill
                                    p(id='windchill_c'+val.name) #{val.windchill_c} *C
                                div(class='col-md-2', align='center')
                                    h4 Feelslike
                                    p(id='feelslike_c'+val.name) #{val.feelslike_c} *C
                                div(class='col-md-2', align='center')
                                    h4 Visibility
                                    p(id='visibility_km'+val.name) #{val.visibility_km} km
                                div(class='col-md-2', align='center')
                                    h4 Precipitation
                                    p(id='precip_today_metric'+val.name) #{val.precip_today_metric} mm
                                div(class='col-md-4', align='center')
                                    h4 Icon
                                    div(class='row')
                                        div(class='col-sm-6')
                                            p(id='icon'+val.name) #{val.icon}
                                        div(class='col-sm-6')
                                            img(id='icon_url'+val.name src=val.icon_url)
