extends layout

block content
    script(src="/socket.io/socket.io.js")
    script(src="https://code.jquery.com/jquery-1.11.1.js")
    script.
        $(function () {
            var socket = io();
            socket.on('temperature', function (msg) {
                $('#temperature').text(msg);
            });
            socket.on('humidity', function (msg) {
                $('#humidity').text(msg);
            });
            socket.on('temperature2', function (msg) {
                $('#temperature2').text(msg);
            });
            socket.on('pressure', function (msg) {
                $('#pressure').text(msg);
            });
            socket.on('sealevel_pressure', function (msg) {
                $('#sealevel_pressure').text(msg);
            });
            socket.on('altitude', function (msg) {
                $('#altitude').text(msg);
            });



            socket.on('city', function (msg) {
                $('#city').text(msg);
            });
            socket.on('weather', function (msg) {
                $('#weather').text(msg);
            });
            socket.on('wind_dir', function (msg) {
                $('#wind_dir').text(msg);
            });
            socket.on('wind_kph', function (msg) {
                $('#wind_kph').text(msg);
            });
            socket.on('dewpoint_c', function (msg) {
                $('#dewpoint_c').text(msg);
            });
            socket.on('heat_index_c', function (msg) {
                $('#heat_index_c').text(msg);
            });
            socket.on('windchill_c', function (msg) {
                $('#windchill_c').text(msg);
            });
            socket.on('feelslike_c', function (msg) {
                $('#feelslike_c').text(msg);
            });
            socket.on('visibility_km', function (msg) {
                $('#visibility_km').text(msg);
            });
            socket.on('precip_today_metric', function (msg) {
                $('#precip_today_metric').text(msg);
            });
            socket.on('icon', function (msg) {
                $('#icon').text(msg);
            });
            socket.on('icon_url', function (msg) {
                $('#icon_url').attr('src', msg);
            });

        });

    script.
        $(function () {
            $('#lg-btn').on('click', function (event) {
                if($('#lg-btn').text() == 'Send to Liquid Galaxy'){
                    $('#lg-btn').text('Stop Liquid Galaxy');
                    $('#lg-btn').attr('class', 'btn btn-danger');
                } else {
                    $('#lg-btn').text('Send to Liquid Galaxy');
                    $('#lg-btn').attr('class', 'btn btn-primary');
                }
                $.ajax({
                    type: "POST",
                    url: '/lg',
                    data: {'city': $('#city').text()}
                });
            });
        });

    div.jumbotron
        div.container
            div(class='page-header')
                h1=title
            div(align='right')
                if api_data.city === ''
                    button(type='button', class='btn btn-primary', id='lg-btn' disabled) Send to Liquid Galaxy
                else
                    button(type='button', class='btn btn-primary', id='lg-btn') Send to Liquid Galaxy

    div.jumbotron
        div.container

            p Sensors

            div(class='container')
                div(class='row')

                    div(class='col-md-2', align='center')
                        h4 TEMPERATURE
                        p(id='temperature') #{sensors_data.temperature}
                    div(class='col-md-2', align='center')
                        h4 HUMIDITY
                        p(id='humidity') #{sensors_data.humidity}
                    div(class='col-md-2', align='center')
                        h4 TEMPERATURE2
                        p(id='temperature2') #{sensors_data.temperature2}
                    div(class='col-md-2', align='center')
                        h4 PRESSURE
                        p(id='pressure') #{sensors_data.pressure}
                    div(class='col-md-2', align='center')
                        h4 SEALEVEL PRESSURE
                        p(id='sealevel_pressure') #{sensors_data.sealevel_pressure}
                    div(class='col-md-2', align='center')
                        h4 ALTITUDE
                        p(id='altitude') #{sensors_data.altitude}


    div.jumbotron
        div.container

            p API

            div(class='container')
                div(class='row')

                    div(class='col-md-2', align='center')
                        h4 City
                        p(id='city') #{api_data.city}
                    div(class='col-md-2', align='center')
                        h4 Weather
                        p(id='weather') #{api_data.weather}
                    div(class='col-md-2', align='center')
                        h4 Wind direction
                        p(id='wind_dir') #{api_data.wind_dir}
                    div(class='col-md-2', align='center')
                        h4 Wind velocity
                        p(id='wind_kph') #{api_data.wind_kph} kph
                    div(class='col-md-2', align='center')
                        h4 Dewpoint
                        p(id='dewpoint_c') #{api_data.dewpoint_c} *C
                    div(class='col-md-2', align='center')
                        h4 Heat index
                        p(id='heat_index_c') #{api_data.heat_index_c} *C

                div(class='row')

                    div(class='col-md-2', align='center')
                        h4 Windchill
                        p(id='windchill_c') #{api_data.windchill_c} *C
                    div(class='col-md-2', align='center')
                        h4 Feelslike
                        p(id='feelslike_c') #{api_data.feelslike_c} *C
                    div(class='col-md-2', align='center')
                        h4 Visibility
                        p(id='visibility_km') #{api_data.visibility_km} km
                    div(class='col-md-2', align='center')
                        h4 Precipitation
                        p(id='precip_today_metric') #{api_data.precip_today_metric} mm
                    div(class='col-md-4', align='center')
                        h4 Icon
                        div(class='row')
                            div(class='col-sm-6')
                                p(id='icon') #{api_data.icon}
                            div(class='col-sm-6')
                                img(id='icon_url' src=api_data.icon_url)


