script.
    $(function () {
        var socket = io();
        socket.on('temperature' + '#{val.name}', function (msg) {
            $('#temperature' + '#{val.name}').text(msg);
        });
        socket.on('humidity' + '#{val.name}', function (msg) {
            $('#humidity' + '#{val.name}').text(msg);
        });
        socket.on('temperature2' + '#{val.name}', function (msg) {
            $('#temperature2' + '#{val.name}').text(msg);
        });
        socket.on('pressure' + '#{val.name}', function (msg) {
            $('#pressure' + '#{val.name}').text(msg);
        });
        socket.on('sealevel_pressure' + '#{val.name}', function (msg) {
            $('#sealevel_pressure' + '#{val.name}').text(msg);
        });
        socket.on('altitude' + '#{val.name}', function (msg) {
            $('#altitude' + '#{val.name}').text(msg);
        });


        socket.on('city' + '#{val.name}', function (msg) {
            $('#city' + '#{val.name}').text(msg);
        });
        socket.on('weather' + '#{val.name}', function (msg) {
            $('#weather' + '#{val.name}').text(msg);
        });
        socket.on('wind_dir' + '#{val.name}', function (msg) {
            $('#wind_dir' + '#{val.name}').text(msg);
        });
        socket.on('wind_kph' + '#{val.name}', function (msg) {
            $('#wind_kph' + '#{val.name}').text(msg);
        });
        socket.on('dewpoint_c' + '#{val.name}', function (msg) {
            $('#dewpoint_c' + '#{val.name}').text(msg);
        });
        socket.on('heat_index_c' + '#{val.name}', function (msg) {
            $('#heat_index_c' + '#{val.name}').text(msg);
        });
        socket.on('windchill_c' + '#{val.name}', function (msg) {
            $('#windchill_c' + '#{val.name}').text(msg);
        });
        socket.on('feelslike_c' + '#{val.name}', function (msg) {
            $('#feelslike_c' + '#{val.name}').text(msg);
        });
        socket.on('visibility_km' + '#{val.name}', function (msg) {
            $('#visibility_km' + '#{val.name}').text(msg);
        });
        socket.on('precip_today_metric' + '#{val.name}', function (msg) {
            $('#precip_today_metric' + '#{val.name}').text(msg);
        });
        socket.on('icon' + '#{val.name}', function (msg) {
            $('#icon' + '#{val.name}').text(msg);
        });
        socket.on('icon_url' + '#{val.name}', function (msg) {
            $('#icon_url' + '#{val.name}').attr('src', msg);
        });

    });
