script.
    // width = ((value - min) * 100) / (max - min);
    $('#altBar'+'#{val.name}').width(((#{val.altitude} - (-423)) * 100) / (8848 - (-423))+'%');
    $('#pressBar'+'#{val.name}').width(((#{val.pressure} - 87000) * 100) / (109210 - 87000)+'%');
    $('#seaPressBar'+'#{val.name}').width(((#{val.sealevel_pressure} - 87000) * 100) / (109210 - 87000)+'%');
