script.
    $(function () {
        $('#lg-btn-'+'#{val.name}').on('click', function (event) {
            var stop = false;
            if ($('#lg-btn-'+'#{val.name}').text() === 'Send to Liquid Galaxy') {
                $('#lg-btn-'+'#{val.name}').text('Stop Liquid Galaxy');
                $('#lg-btn-'+'#{val.name}').attr('class', 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' +
                    ' mdl-button--accent mdl-color--red mdl-color-text--white');
            } else {
                $('#lg-btn-'+'#{val.name}').text('Send to Liquid Galaxy');
                $('#lg-btn-'+'#{val.name}').attr('class', 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' +
                    ' mdl-button--accent mdl-color--blue-grey mdl-color-text--white');
                stop = true;
            }
            $.ajax({
                type: "POST",
                url: '/lg',
                data: {
                    'name': '#{val.name}',
                    'city': $('#city'+'#{val.name}').text(),
                    'temperature': $('#temperature'+'#{val.name}').text(),
                    'humidity': $('#humidity'+'#{val.name}').text(),
                    'temperature2': $('#temperature2'+'#{val.name}').text(),
                    'pressure': $('#pressure'+'#{val.name}').text(),
                    'sealevel_pressure': $('#sealevel_pressure'+'#{val.name}').text(),
                    'altitude': $('#altitude'+'#{val.name}').text(),
                    'longitude':'#{val.longitude}',
                    'latitude': '#{val.latitude}',
                    'stop': stop
                }
            });
        });
    });
