script.
    $(function () {

        $('#lg-ball-btn-'+'#{val.name}').on('click', function (event) {

            $('#lg-'+'#{val.name}').attr('style', 'display:none');
            $('#lg-stop-'+'#{val.name}').attr('style', 'display:block');

            $.ajax({
                type: "POST",
                url: '/lg/balloon',
                data: {
                    'name': '#{val.name}'
                }
            });
        });

        $('#lg-rotate-btn-' + '#{val.name}').on('click', function (event) {

            $('#lg-' + '#{val.name}').attr('style', 'display:none');
            $('#lg-stop-' + '#{val.name}').attr('style', 'display:block');

            $.ajax({
                type: "POST",
                url: '/lg/rotation',
                data: {
                    'name': '#{val.name}'
                }
            });
        });

        $('#lg-all-btn-' + '#{val.name}').on('click', function (event) {

            $('#lg-' + '#{val.name}').attr('style', 'display:none');
            $('#lg-stop-' + '#{val.name}').attr('style', 'display:block');

            $.ajax({
                type: "POST",
                url: '/lg/all'
            });
        });


        $('#lg-stop-' + '#{val.name}').on('click', function (event) {

            $('#lg-' + '#{val.name}').attr('style', 'display:block');
            $('#lg-stop-' + '#{val.name}').attr('style', 'display:none');

            $.ajax({
                type: "POST",
                url: '/lg/stop'
            });
        });




    });
