script.
    $(function () {
        $('#lg-btn-'+'#{val.name}').on('click', function (event) {
            var stop = false;
            if ($('#lg-btn-'+'#{val.name}').text() === 'Send to Liquid Galaxy') {
                $('#lg-btn-'+'#{val.name}').text('Stop Liquid Galaxy');
                $('#lg-btn-'+'#{val.name}').attr('class', 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' +
                    ' mdl-button--accent mdl-color--red mdl-color-text--white');
            } else {
                $('#lg-btn-'+'#{val.name}').text('Send to Liquid Galaxy');
                $('#lg-btn-'+'#{val.name}').attr('class', 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' +
                    ' mdl-button--accent mdl-color--blue-grey mdl-color-text--white');
                stop = true;
            }
            $.ajax({
                type: "POST",
                url: '/lg',
                data: {
                    'name': '#{val.name}',
                    'stop': stop
                }
            });
        });

        $('#lgrotate-btn-' + '#{val.name}').on('click', function (event) {

            var stop = false;
            if ($('#lgrotate-btn-' + '#{val.name}').css('color') === 'rgb(96, 125, 139)') {
                $('#lgrotate-btn-' + '#{val.name}').attr('class', 'mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--red');

            } else {
                $('#lgrotate-btn-' + '#{val.name}').attr('class', 'mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey');
                stop = true;
            }
            $.ajax({
                type: "POST",
                url: '/lgrotation',
                data: {
                    'name': '#{val.name}',
                    'stop': stop
                }
            });
        });
    });
